<%- include('./includes/top.ejs') %>

</head>

<body>
    <%- include('./includes/navigation.ejs') %>
  
  <main class="myContainer">
    <title>Around Town</title>





</body>
</main>
<%- include('../includes/pagination.ejs', paginationObject) %>


<%- include('./includes/bottom.ejs') %>