<%- include('./includes/top.ejs') %>

</head>

<body>
    <%- include('./includes/navigation.ejs') %>
  
  <main class="myContainer">
    <title>Around Town</title>
  </head>
  <style>
      .parallax {
        /* The image used */
        background-image: url("/CSS/images/lower-manhattan-skyline.jpg");
      
        /* Set a specific height */
        min-height: 250px;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
   </style>
  <div class="parallax"></div>
  <body>
      <div class="container">
          <h1 class="mb-4">New Event</h1>
              <form action="/api/post" method="post" onSubmit={onSubmit}>
                  <input className="eventFiled" placeholder= "Event Name" type="text" > 
                  <input className="eventTime" placeholder= "Time" type="time"  > 
                  <input className="eventDate" placeholder="Date" type="date" >
                  <input className="eventLocat" placeholder="Location" type="location" >
                  <br></br>
                  <textarea className="eventDescr" placeholder="Description" type="text" ></textarea>
                  <input className="eventImg" placeholder="Add Images" type="image" >
                  <br></br>
                  <button className="submitBtn">Submit</button>
              </form>
        
  
      </div>
      <!-- <div id="my Sidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;
          </a>
          <a href="#">Saved events</a>
          <a href="#">MyEvents Profile</a>
          <a href="#">About Us</a>
          <a href="#">Contact</a>
      </div>    
      <div id="main">
          <button class="openbtn" onclick="openNav()">&#9776;</button>
      </div>
    -->
  </main>
</body>
  <%- include('./includes/bottom.ejs') %>