  
    
 <div id="my Sidebar" class="sidebar">
       <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;
         </a>
         <a href="./post/posts">Saved events</a>
         <a href="./dashboard">Dashboard</a>
         <a href="#">About Us</a>
         <a href="#">Contact</a>
  </div>    
<div id="main">
        <button class="openbtn" onclick="openNav()">&#9776;</button>
    </div>