<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="myContainer">
    <p>Add a Post</p>

    <form action="/post/add-post" method="post" onSubmit={onSubmit}>
      <input className="eventFiled" placeholder="Event Name" type="text">
      <input className="eventTime" placeholder="Time" type="time">
      <input className="eventDate" placeholder="Date" type="date">
      <input className="eventLocat" placeholder="Location" type="location">
      <br></br>
      <textarea className="eventDescr" placeholder="Description" type="text"></textarea>
      <input className="eventImg" placeholder="Add Images" type="image">
      <br></br>
      <button className="submitBtn">Submit</button>
    </form>

  </main>

  <%- include('../includes/bottom.ejs') %>