<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= AroundTown %></title>
    <link href="https://fonts.cdnfonts.com/css/scrabble" rel="stylesheet">
    
    <link rel="stylesheet" href="./CSS/normalize.css" />
    <link rel="stylesheet" href="./CSS/skeleton.css" />
    <link rel="stylesheet" href="./CSS/style.css" />
    <link rel="stylesheet" href="./CSS/condensed.css" />
    <link rel="stylesheet" href="./CSS/styleS.css" />
    <!--Adding Animated Style sheet, delete only this comment if works.-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!--Adding Parallax Scrolling effect here (Delete Only THIS LINE if works)-->